<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})"><title>首页</title></head>
<body>
    <!--navigation-->
    <nav th:replace="_fragments :: menu" class="ui inverted segment m-padded-tiny right"></nav>

    <!-- 中间部分 -->
    <div  class="m-container m-padded-tb-big animated fadeIn">
        <div class="ui container">
          <div class="ui stackable grid">
            <!--左边博客列表-->
            <div class="eleven wide column">
              <!--header-->
              <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                  <div class="column">
                    <h3 class="ui teal header">推荐航班</h3>
                  </div>
                  <div class="right aligned column m-grey">
                    今日共 <h2 class="ui orange header m-inline-block m-text-thin"> 14 </h2> 个航班
                  </div>
                </div>
              </div>
    
              <!--content-->
              <div class="ui attached segment m-vertical-align-middle">
                <div class="ui padded vertical m-padded-tb-mini m-vertical-align-middle">
                    <div class="ui stackable segment attached centered aligned grid m-vertical-align-middle">
                        <div class="ui six wide column centered aligned">
                            <div class="ui big buttons icon">
                                <button class="ui button basic grey">
                                  <h3>上海</h3>
                                </button>
                                <button class="ui blue button icon">
                                  <i class="right arrow icon circle"></i>
                                </button>
                                <button class="ui  button basic grey">
                                  <h3>非洲</h3>
                                </button>
                            </div>
                        </div>
                        <div class="ui six wide column centered aligned m-margin-auto">
                            <h4 class="m-dark-grey icon" style="font-size: medium;">
                              出发时间：
                              <span>12:00</span>
                              <i class="angle double right icon"></i>
                              <span>13:00</span>
                            </h4>
                        </div>
                        <div class="ui four wide column centered aligned m-margin-auto">
                          <a href="#" class="ui right labeled icon button orange">
                              <i class="shopping cart icon"></i>
                              购买
                          </a>
                        </div>
                    </div>
                </div>
              </div>
              <div class="ui attached segment m-vertical-align-middle">
                <div class="ui padded vertical m-padded-tb-mini m-vertical-align-middle">
                    <div class="ui stackable segment attached centered aligned grid m-vertical-align-middle">
                        <div class="ui six wide column centered aligned">
                            <div class="ui big buttons icon">
                                <button class="ui button basic grey">
                                  <h3>上海</h3>
                                </button>
                                <button class="ui blue button icon">
                                  <i class="right arrow icon circle"></i>
                                </button>
                                <button class="ui  button basic grey">
                                  <h3>非洲</h3>
                                </button>
                            </div>
                        </div>
                        <div class="ui six wide column centered aligned m-margin-auto">
                            <h4 class="m-dark-grey icon" style="font-size: medium;">
                              出发时间：
                              <span>12:00</span>
                              <i class="angle double right icon"></i>
                              <span>13:00</span>
                            </h4>
                        </div>
                        <div class="ui four wide column centered aligned m-margin-auto">
                          <a href="#" class="ui right labeled icon button orange">
                              <i class="shopping cart icon"></i>
                              购买
                          </a>
                        </div>
                    </div>
                </div>
              </div>
              <div class="ui attached segment m-vertical-align-middle">
                <div class="ui padded vertical m-padded-tb-mini m-vertical-align-middle">
                    <div class="ui stackable segment attached centered aligned grid m-vertical-align-middle">
                        <div class="ui six wide column centered aligned">
                            <div class="ui big buttons icon">
                                <button class="ui button basic grey">
                                  <h3>上海</h3>
                                </button>
                                <button class="ui blue button icon">
                                  <i class="right arrow icon circle"></i>
                                </button>
                                <button class="ui  button basic grey">
                                  <h3>非洲</h3>
                                </button>
                            </div>
                        </div>
                        <div class="ui six wide column centered aligned m-margin-auto">
                            <h4 class="m-dark-grey icon" style="font-size: medium;">
                              出发时间：
                              <span>12:00</span>
                              <i class="angle double right icon"></i>
                              <span>13:00</span>
                            </h4>
                        </div>
                        <div class="ui four wide column centered aligned m-margin-auto">
                          <a href="#" class="ui right labeled icon button orange">
                              <i class="shopping cart icon"></i>
                              购买
                          </a>
                        </div>
                    </div>
                </div>
              </div>
              <div class="ui attached segment m-vertical-align-middle">
                <div class="ui padded vertical m-padded-tb-mini m-vertical-align-middle">
                    <div class="ui stackable segment attached centered aligned grid m-vertical-align-middle">
                        <div class="ui six wide column centered aligned">
                            <div class="ui big buttons icon">
                                <button class="ui button basic grey">
                                  <h3>上海</h3>
                                </button>
                                <button class="ui blue button icon">
                                  <i class="right arrow icon circle"></i>
                                </button>
                                <button class="ui  button basic grey">
                                  <h3>非洲</h3>
                                </button>
                            </div>
                        </div>
                        <div class="ui six wide column centered aligned m-margin-auto">
                            <h4 class="m-dark-grey icon" style="font-size: medium;">
                              出发时间：
                              <span>12:00</span>
                              <i class="angle double right icon"></i>
                              <span>13:00</span>
                            </h4>
                        </div>
                        <div class="ui four wide column centered aligned m-margin-auto">
                          <a href="#" class="ui right labeled icon button orange">
                              <i class="shopping cart icon"></i>
                              购买
                          </a>
                        </div>
                    </div>
                </div>
              </div>
              <div class="ui attached segment m-vertical-align-middle">
                <div class="ui padded vertical m-padded-tb-mini m-vertical-align-middle">
                    <div class="ui stackable segment attached centered aligned grid m-vertical-align-middle">
                        <div class="ui six wide column centered aligned">
                            <div class="ui big buttons icon">
                                <button class="ui button basic grey">
                                  <h3>上海</h3>
                                </button>
                                <button class="ui blue button icon">
                                  <i class="right arrow icon circle"></i>
                                </button>
                                <button class="ui  button basic grey">
                                  <h3>非洲</h3>
                                </button>
                            </div>
                        </div>
                        <div class="ui six wide column centered aligned m-margin-auto">
                            <h4 class="m-dark-grey icon" style="font-size: medium;">
                              出发时间：
                              <span>12:00</span>
                              <i class="angle double right icon"></i>
                              <span>13:00</span>
                            </h4>
                        </div>
                        <div class="ui four wide column centered aligned m-margin-auto">
                          <a href="#" class="ui right labeled icon button orange">
                              <i class="shopping cart icon"></i>
                              购买
                          </a>
                        </div>
                    </div>
                </div>
              </div><div class="ui attached segment m-vertical-align-middle">
                <div class="ui padded vertical m-padded-tb-mini m-vertical-align-middle">
                    <div class="ui stackable segment attached centered aligned grid m-vertical-align-middle">
                        <div class="ui six wide column centered aligned">
                            <div class="ui big buttons icon">
                                <button class="ui button basic grey">
                                  <h3>上海</h3>
                                </button>
                                <button class="ui blue button icon">
                                  <i class="right arrow icon circle"></i>
                                </button>
                                <button class="ui  button basic grey">
                                  <h3>非洲</h3>
                                </button>
                            </div>
                        </div>
                        <div class="ui six wide column centered aligned m-margin-auto">
                            <h4 class="m-dark-grey icon" style="font-size: medium;">
                              出发时间：
                              <span>12:00</span>
                              <i class="angle double right icon"></i>
                              <span>13:00</span>
                            </h4>
                        </div>
                        <div class="ui four wide column centered aligned m-margin-auto">
                          <a href="#" class="ui right labeled icon button orange">
                              <i class="shopping cart icon"></i>
                              购买
                          </a>
                        </div>
                    </div>
                </div>
              </div>
              <div class="ui attached segment m-vertical-align-middle">
                <div class="ui padded vertical m-padded-tb-mini m-vertical-align-middle">
                    <div class="ui stackable segment attached centered aligned grid m-vertical-align-middle">
                        <div class="ui six wide column centered aligned">
                            <div class="ui big buttons icon">
                                <button class="ui button basic grey">
                                  <h3>上海</h3>
                                </button>
                                <button class="ui blue button icon">
                                  <i class="right arrow icon circle"></i>
                                </button>
                                <button class="ui  button basic grey">
                                  <h3>非洲</h3>
                                </button>
                            </div>
                        </div>
                        <div class="ui six wide column centered aligned m-margin-auto">
                            <h4 class="m-dark-grey icon" style="font-size: medium;">
                              出发时间：
                              <span>12:00</span>
                              <i class="angle double right icon"></i>
                              <span>13:00</span>
                            </h4>
                        </div>
                        <div class="ui four wide column centered aligned m-margin-auto">
                          <a href="#" class="ui right labeled icon button orange">
                              <i class="shopping cart icon"></i>
                              购买
                          </a>
                        </div>
                    </div>
                </div>
              </div>
              <div class="ui attached segment m-vertical-align-middle">
                <div class="ui padded vertical m-padded-tb-mini m-vertical-align-middle">
                    <div class="ui stackable segment attached centered aligned grid m-vertical-align-middle">
                        <div class="ui six wide column centered aligned">
                            <div class="ui big buttons icon">
                                <button class="ui button basic grey">
                                  <h3>上海</h3>
                                </button>
                                <button class="ui blue button icon">
                                  <i class="right arrow icon circle"></i>
                                </button>
                                <button class="ui  button basic grey">
                                  <h3>非洲</h3>
                                </button>
                            </div>
                        </div>
                        <div class="ui six wide column centered aligned m-margin-auto">
                            <h4 class="m-dark-grey icon" style="font-size: medium;">
                              出发时间：
                              <span>12:00</span>
                              <i class="angle double right icon"></i>
                              <span>13:00</span>
                            </h4>
                        </div>
                        <div class="ui four wide column centered aligned m-margin-auto">
                          <a href="#" class="ui right labeled icon button orange">
                              <i class="shopping cart icon"></i>
                              购买
                          </a>
                        </div>
                    </div>
                </div>
              </div>
              <div class="ui attached segment m-vertical-align-middle">
                <div class="ui padded vertical m-padded-tb-mini m-vertical-align-middle">
                    <div class="ui stackable segment attached centered aligned grid m-vertical-align-middle">
                        <div class="ui six wide column centered aligned">
                            <div class="ui big buttons icon">
                                <button class="ui button basic grey">
                                  <h3>上海</h3>
                                </button>
                                <button class="ui blue button icon">
                                  <i class="right arrow icon circle"></i>
                                </button>
                                <button class="ui  button basic grey">
                                  <h3>非洲</h3>
                                </button>
                            </div>
                        </div>
                        <div class="ui six wide column centered aligned m-margin-auto">
                            <h4 class="m-dark-grey icon" style="font-size: medium;">
                              出发时间：
                              <span>12:00</span>
                              <i class="angle double right icon"></i>
                              <span>13:00</span>
                            </h4>
                        </div>
                        <div class="ui four wide column centered aligned m-margin-auto">
                          <a href="#" class="ui right labeled icon button orange">
                              <i class="shopping cart icon"></i>
                              购买
                          </a>
                        </div>
                    </div>
                </div>
              </div>
              <div class="ui attached segment m-vertical-align-middle">
                <div class="ui padded vertical m-padded-tb-mini m-vertical-align-middle">
                    <div class="ui stackable segment attached centered aligned grid m-vertical-align-middle">
                        <div class="ui six wide column centered aligned">
                            <div class="ui big buttons icon">
                                <button class="ui button basic grey">
                                  <h3>上海</h3>
                                </button>
                                <button class="ui blue button icon">
                                  <i class="right arrow icon circle"></i>
                                </button>
                                <button class="ui  button basic grey">
                                  <h3>非洲</h3>
                                </button>
                            </div>
                        </div>
                        <div class="ui six wide column centered aligned m-margin-auto">
                            <h4 class="m-dark-grey icon" style="font-size: medium;">
                              出发时间：
                              <span>12:00</span>
                              <i class="angle double right icon"></i>
                              <span>13:00</span>
                            </h4>
                        </div>
                        <div class="ui four wide column centered aligned m-margin-auto">
                          <a href="#" class="ui right labeled icon button orange">
                              <i class="shopping cart icon"></i>
                              购买
                          </a>
                        </div>
                    </div>
                </div>
              </div>

    
              <!--footer-->
              <div class="ui bottom attached segment">
                <div class="ui middle aligned two column grid">
                  <div class="column">
                    <a href="#" class="ui mini teal basic button">上一页</a>
                  </div>
                  <div class="right aligned column">
                    <a href="#" class="ui mini teal basic button">下一页</a>
                  </div>
                </div>
              </div>
    
            </div>
    
            <!--右边的top-->
            <div class="five wide column">
              <!-- 查询航班 -->
              <div class="ui segments">
                <div class="ui secondary segment">
                  <div class="ui two column grid">
                    <div class="column">
                      <i class="idea icon"></i>查询航班
                    </div>
                  </div>
                </div>
                <div class="ui teal segment attach">
                    <div class="ui icon input fluid m-padded-top-bottom-small">
                      <input type="text" placeholder="出发城市">
                    </div>
                    <div class="ui icon input fluid m-padded-top-bottom-small">
                      <input type="text" placeholder="到达城市">
                    </div>
                    <div class="ui input fluid m-padded-top-bottom-small">
                      <button class="ui button icon fluid padded">
                        查询
                        <i class="search icon"></i>
                      </button>
                    </div>
                </div>
              </div>
              <br>
              <br>
              <!--查询城市-->
              <div class="ui segments">
                <div class="ui secondary segment">
                  <div class="ui two column grid">
                    <div class="column">
                      <i class="idea icon"></i>查询城市
                    </div>
                  </div>
                </div>
                <div class="ui teal segment attach">
                    <div class="ui icon input fluid m-padded-top-bottom-small">
                      <input type="text" placeholder="请输入查询的城市">
                    </div>

                    <div class="ui input fluid m-padded-top-bottom-small">
                      <button class="ui button icon fluid padded">
                        查询
                        <i class="search icon"></i>
                      </button>
                    </div>
                </div>
              </div>
            </div>
    
          </div>
        </div>
    
      </div>
      <br>
      <br>
      <footer th:replace="_fragments :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script th:block th:replace="_fragments :: tongle-script"></script>
</body>
</html>