<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})"><title>首页</title></head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/stevecss.css" class="rel">
    <title>首页</title>
</head>
<body>
    <!--navigation-->
    <nav th:replace="_fragments :: menu" class="ui inverted segment m-padded-tiny right"></nav>

    <!-- 中间部分 -->
    <div  class="m-container m-padded-tb-big animated fadeIn">
        <div class="ui container">
          <div class="ui stackable grid">
            <!--左边注册列表-->
            <div class="eleven wide column" id="left-login">
              <div class="column">
                <h2 class="ui teal image header">
                  <div class="content">
                    信息修改
                  </div>
                </h2>
                <form class="ui large form" method="post" action="#" th:action="@{/personalInfo/modifyProcess}">
                  <div class="ui  segment">

                      <div class="field">
                          <div class="ui left input">
                              <input type="text" name="sex" placeholder="性别">
                          </div>
                      </div>
                    <div class="field">
                      <div class="ui left input">
                        <input type="text" name="age" placeholder="年龄">
                      </div>
                    </div>
                      <div class="field">
                          <div class="ui left input">
                              <input type="text" name="identityNum" placeholder="身份证号">
                          </div>
                      </div>
                      <div class="field">
                          <div class="ui left input">
                              <input type="text" name="address" placeholder="地址">
                          </div>
                      </div>
                      <div class="field">
                          <div class="ui left input">
                              <input type="text" name="mobileNum" placeholder="手机号">
                          </div>
                      </div>

                    <button class="ui fluid large teal submit button">修   改</button>
                  </div>

                    <div class="ui error mini message"></div>
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(modifymessage)}" th:text="${modifymessage}"></div>
                </form>
       
              </div>
            </div>

              <!--右边的top-->
              <div th:replace="_fragments :: rightsearch"></div>


          </div>
        </div>
    
    </div>
    
      <br>
      <br>
      <!--底部footer-->
      <footer th:replace="_fragments :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>