<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})"><title>404</title></head>
<body>
    <!--navigation-->
    <nav th:replace="_fragments :: menu" class="ui inverted segment m-padded-tiny right"></nav>

    <!-- 中间部分 -->
    <div  class="m-container m-padded-tb-big animated fadeIn">
        <div class="ui container">
            <div class="m-container-small m-padded-tb-massive">
                <div class="ui message m-padded-tb-huge" >
                    <div class="ui contianer">
                    <h2>消息</h2>
                    <h3 th:text="${message}"></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>