<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})"><title>首页</title></head>
<body>
    <!--navigation-->
    <nav th:replace="_fragments :: menu" class="ui inverted segment m-padded-tiny right"></nav>

    <!-- 中间部分 -->
    <div  class="m-container m-padded-tb-big animated fadeIn">
        <div class="ui container">
          <div class="ui stackable grid">
            <!--左边博客列表-->
            <div class="eleven wide column">
              <!--header-->
              <div class="ui secondary top attached segment">
                <div class="ui middle aligned one column grid">
                  <div class="column">
                    <h3 class="ui teal header">票务信息</h3>
                  </div>
                </div>
              </div>
    
              <!--content-->
              <div class="ui attached segment m-vertical-align-middle">
                  <div class="ui teal segment attach">
                      <table class="ui striped very basic table">
                          <tr>
                              <td>航班编号</td>
                              <td th:text="${ticket.afid}"></td>
                          </tr>
                          <tr>
                              <td>航线编号</td>
                              <td th:text="${ticket.alid}"></td>
                          </tr>
                          <tr>
                              <td>起飞地点</td>
                              <td th:text="${ticket.startPlace}"></td>
                          </tr>
                          <tr>
                              <td>起飞时间</td>
                              <td th:text="${ticket.startTime}"></td>
                          </tr>
                          <tr>
                              <td>到达地点</td>
                              <td th:text="${ticket.arrivePlace}">上海</td>
                          </tr>
                          <tr>
                              <td>到达时间</td>
                              <td th:text="${ticket.arriveTime}">2020-1-8 12:00</td>
                          </tr>
                          <tr>
                              <td>头等舱票价</td>
                              <td>
                                  ¥<p th:text="${ticket.firstPrice}" class="m-inline-block"></p>
                              </td>
                          </tr>
                          <tr>
                              <td>头等舱剩余票数</td>
                              <td th:text="${ticket.firstRelease}">
                                  12
                              </td>
                          </tr>
                          <tr>
                              <td>商务舱票价</td>
                              <td>
                                  ¥<p th:text="${ticket.businessPrice}" class="m-inline-block"></p>
                              </td>
                          </tr>
                          <tr>
                              <td>商务舱剩余票数量</td>
                              <td th:text="${ticket.businessRelease}">
                                  23
                              </td>
                          </tr>
                          <tr>
                              <td>经济舱</td>
                              <td>
                                  ¥<p th:text="${ticket.touristPrice}" class="m-inline-block"></p>
                              </td>
                          </tr>
                          <tr>
                              <td>经济舱剩余票数量</td>
                              <td th:text="${ticket.touristRelease}">
                                  20
                              </td>
                          </tr>
                          </tbody>
                      </table>
                      <table>
                          <thead>
                            <tr>
<!--                                bug-->
                                <th>
                                    <a th:href="@{'/info/buy/h/'+${ticket.afid}}" class="ui button teal basic" onclick="confirm('是否确认购买?');">
                                        购买头等舱
                                    </a>
                                </th>
                                <th>
                                    <a th:href="@{'/info/buy/b/'+${ticket.afid}}" class="ui button teal basic" onclick="confirm('是否确认购买?');">
                                        购买商务舱
                                    </a>
                                </th>
                                <th>
                                    <a th:href="@{'/info/buy/t/'+${ticket.afid}}" class="ui button teal basic" onclick="confirm('是否确认购买?');">
                                        购买经济舱
                                    </a>
                                </th>
                            </tr>
                          </thead>
                      </table>
                  </div>
              </div>
    

    
            </div>
              <!--右边的top-->
              <div th:replace="_fragments :: rightsearch"></div>

          </div>
        </div>
    
      </div>
      <br>
      <br>
      <footer th:replace="_fragments :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script th:block th:replace="_fragments :: tongle-script"></script>
</body>
</html>